/* font */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
/* root */
:root {
  /* Colors */

  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  /* font */
  /* size */
  --fs-sm: 0.8125rem;
  --fs-md: 0.875rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.33rem;
  --fs-xxl: 2.25rem;
  /* weight */
  --fw-extra_light: 200;
  --fw-regular: 400;
  --fw-regularbold: 500;
  --fw-semibold: 600;
  /* family */
  --ff-manrope: 'Manrope', sans-serif;
  /* line height */
  --lh-tight: 1.35;
  --lh-normal: 1.4;
  --lh-normalLoos: 1.4;
  --lh-loose: 1.6;

  /* space */
  --sp-100: 0.4rem;
  --sp-200: 1rem;
  --sp-300: 1.5rem;
  --sp-400: 2rem;
  --sp-450: 2.26rem;
  --sp-500: 2.5rem;
}

/* page setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-manrope);
  font-size: var(--fs-md);
  color: var(--desaturated-dark-blue);
  line-height: var(--lh-normalLoos);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}

/* show-hidden */
.hidden {
  display: none !important;
}

/* article */
.article-wrapper {
  padding-inline: 2rem;
}
article {
  border-radius: 10px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 0 100px 0 var(--grayish-blue);
}

/* article image */
.article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

/* article content */
.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--sp-200);
  padding: var(--sp-450);
  padding-bottom: var(--sp-300);
}
.content-wrapper strong {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-lg);
  color: var(--very-dark-grayish-blue);
}
.content-wrapper p {
  font-weight: var(--fw-regularbold);
  line-height: var(--lh-loose);
}
/* article profile */
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sp-200) var(--sp-450);
}
.profile-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sp-200);
}
.profile-content-wrapper > a {
  display: flex;
  margin: auto;
}
.profile-content-wrapper .profile-image {
  border-radius: 50%;
}
.profile-content {
  display: flex;
  flex-direction: column;
}
.profile-content strong {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-md);
  color: var(--very-dark-grayish-blue);
}
.profile-content span {
  font-weight: var(--fw-extra_light);
}
#share {
  border-radius: 0 0 10px 10px;
}
.share {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-grayish-blue);
  position: relative;
}
/* article share */
.share-open {
  background: var(--very-dark-grayish-blue);
}
.share-text {
  letter-spacing: 0.25rem;
}
/* share desktop pop-up */
.share-desktop {
  position: absolute;
  top: -90px;
  background: var(--very-dark-grayish-blue);
  padding: var(--sp-200) var(--sp-400);
  border-radius: var(--sp-100);
}
.share-desktop::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: auto;
  width: var(--sp-200);
  height: var(--sp-200);
  transform: rotate(45deg);
  background: var(--very-dark-grayish-blue);
}

/* responsive */
@media (min-width: 56.875rem) {
  article {
    max-width: 48.75rem;
    flex-direction: row;
  }
  .content-wrapper strong {
    font-size: var(--fs-xl);
  }
  .article-image {
    border-radius: 10px 0 0 10px;
  }
}
